.weather-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 3rem;
}

.weather-week {
    min-width: 24vw;
}

@media screen and (max-width: 884px) {
    .weather-container {
        flex-direction: column;
        align-items: center;
    }
}
