<div class="container">
    <h1>Weather</h1>
    <app-city-header
        [selectedCity]="selectedCity"
        [selectCity]="selectCity"
        [cities]="cityNames"
    ></app-city-header>
    <div class="weather-container">
        <app-weather size="large" [data]="today"></app-weather>
        <div class="weather-week">
            <app-weather
                *ngFor="let weekday of week"
                size="small"
                [data]="weekday"
            ></app-weather>
        </div>
    </div>
</div>
